<%= form_with(model: dailysch) do |form| %>
  <% if dailysch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dailysch.errors.count, "error") %> prohibited this dailysch from being saved:</h2>

      <ul>
        <% dailysch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :counsellor %>
    <%= form.text_field :counsellor %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client %>
  </div>

  <div class="field">
    <%= form.label :ref %>
    <%= form.text_field :ref %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
