<style>
    .schedule {
        display: grid;
        grid-template-rows:
          [time-0800] 1fr
          [time-0830] 1fr
          [time-0900] 1fr
          [time-0930] 1fr
          [time-1000] 1fr;
        grid-template-columns: repeat(<%= @all_counsellor_names.length %>, [track] 1fr);
        grid-gap: 5px;
    }

    .session-1 {
        height: 200px;
        grid-row: time-0830 / time-0930;
        grid-column: track 3;
    }

    .session-2 {
        height: 200px;
        grid-row: time-0900 / time-0930;
        grid-column: track 2;
    }
</style>

<% @dailysches.map do |dailysch_hash| %>
  <div><%= dailysch_hash[0] %></div>
  <% dailysch_hash[1].map do |dailysch| %>
    <div class="ml-12">
      <span><%= dailysch.counsellor %></span>
      <!--      <span><%#= dailysch.time %></span>-->
      <span><%= dailysch.client %></span>
      <!--      <span><%#= dailysch.ref %></span>-->
      <!--      <span><%#= link_to 'Show', dailysch %></span>-->
      <!--      <span><%#= link_to 'Edit', edit_dailysch_path(dailysch) %></span>-->
      <!--      <span><%#= link_to 'Destroy', dailysch, method: :delete, data: { confirm: 'Are you sure?' } %></span>-->
    </div>
  <% end %>
<% end %>


<div class="schedule">
  <% @dailysches.map do |dailysch_hash| %>
    <% dailysch_hash[1].map do |dailysch| %>
      <div class="session-2 border bg-yellow-300">
        <span><%= dailysch.counsellor %></span>
        <span><%= dailysch.time %></span>
        <span><%= dailysch.client %></span>
        <span><%= dailysch.ref %></span>
        <span><%= link_to 'Show', dailysch %></span>
        <span><%= link_to 'Edit', edit_dailysch_path(dailysch) %></span>
        <span><%= link_to 'Destroy', dailysch, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>
<br>

<div class="schedule">
  <div class="session-1 border bg-yellow-300"></div>
  <div class="session-2 border bg-yellow-200"></div>
</div>

<br>
<%= link_to 'New Dailysch', new_dailysch_path %>